#header {
  @include desktop {
    .desktop {
      height: 450px;
      img {
        max-width: 100%;
      }
      input {
        border: none;
        padding: 3px 7px;
        &::placeholder {
          font-size: 14px;
          &:focus {
            border: none;
          }
        }
        &:hover {
          box-shadow: 0px 0px 9px $orange;
        }
        &:focus {
          box-shadow: 0px 0px 9px $orange;
        }
      }
      p {
        margin-bottom: 0px;
        font-size: 12px;
        display: block;
      }
      h4 {
        font-weight: 800;
      }
      .grid-item {
        box-shadow: 0px 0px 5px $orange;
      }
      .grid-item-auto {
        i {
          color: $orange;
          font-size: 14px;
        }
      }
      .connection {
        padding: 7px;
      }
      .basket {
        position: relative;
        @include header-link;
        i {
          color: $green;
          font-size: 16px;
          margin-right: 5px;
        }
        span {
          position: absolute;
          background-color: $red !important;
          color: $white;
          font-size: 7px;
          padding: 1px 4px;
          border-radius: 50%;
          top: -4px;
          left: 21px;
        }
      }
      .sign-in {
        @include header-link;
        i {
          color: $green;
          font-size: 16px;
          margin-right: 5px;
        }
      }
      .phone-wrapper {
        margin: 0px 15px;
        i {
          color: $green;
          font-size: 20px;
          margin-right: 5px;
        }
        i.fa-whatsapp {
          font-size: 25px;
        }

        &:hover {
          i {
            color: rgb(77, 218, 77);
          }
        }
      }
      .favourites {
        i {
          font-size: 16px;
          color: $red;
        }
        @include header-link;
      }
      .category-main {
        width: 20%;
        .category-main-div {
          display: none;
        }
        &:hover .category-main-div {
          display: block;
          background-color: rgb(174, 174, 206);
          padding: 20px;
          transition: all 0.3s;
        }
      }
      .main-bant {
        background-color: $orange;
        padding: 20px;
        position: sticky;
        top: 0;
        position: -webkit-sticky;
        .categories {
          padding: 20px;
          width: 100%;
          background-color: green;
        }
      }
    }
    .mobile {
      display: none;
    }
    .main-link {
      padding: 5px;
      color: $white !important;
      border-left: 2px solid $white;
      padding-bottom: 0px;
      padding-top: 0px;
      &:hover {
        background-color: $white;
        opacity: 0.7;
        color: $orange !important;
        border-radius: 3px;
      }
    }
    .main-link.active {
      background-color: $white;
      opacity: 0.7;
      color: $orange !important;
      border-radius: 3px;
    }
    .subcategory-li {
      .subcategory {
        padding: 5px;
        color: $white !important;
        font-size: 14px;
        &:hover {
          background-color: $white;
          opacity: 0.7;
          color: $orange !important;
          border-radius: 3px;
        }
      }
    }
  }

  @include mobile {
    display: block;
    .desktop {
      display: none;
    }
    .mobile {
      .mobile-navbar {
        background-color: $orange;
        padding: 15px 10px;
        position: sticky;
        top: 0;
        a {
          font-size: 13px;
          font-weight: 500;
          color: $white !important;
          border-left: 1px solid $white;
          padding: 20px 10px;
        }
      }
      .nav-wrapper .category-main a {
        font-size: 13px;
      }
      i {
        color: $gray;
        font-size: 16px;
      }
      .nav-header {
        padding: 20px 45px;
      }
    }
    .basket {
      position: relative;
      span {
        position: absolute;
        background-color: $red !important;
        color: $white;
        font-size: 7px;
        padding: 1px 4px;
        border-radius: 50%;
        top: -4px;
        left: 21px;
      }
    }
    .main-link {
      text-transform: uppercase;
    }
    .fa-heart {
      color: $red !important;
    }
    .fa-shopping-basket {
      color: $green !important;
    }
    .fa-sign-in-alt {
      color: $green !important;
    }
    .fa-search {
      color: $orange !important;
    }
    ul {
      padding: 0px;
      margin: 0px;
      a {
        padding: 10px 20px;
        display: inline-block;
      }
    }

    .nav-wrapper {
      padding: 10px 25px;
      width: 100%;
      background-color: white;
      transition: all 0.3s;
      position: absolute;
      left: -400px;
      top: 50px;
      padding-top: 0px;
      z-index: 300;
      height: 800px;
    }
    .navbar {
      position: relative;
      padding: 0px;
      .nav-main-ul {
        span {
          font-size: 13px;
        }
      }
    }
    .nav-wrapper.active {
      height: 800px;
      z-index: 300;
      position: absolute;
      left: 0px;
      animation-name: sidebarOpen;
      animation-duration: 2s;
      top: 50px;
      display: block;
      padding-top: 0px;
      li {
        border-bottom: 1px solid rgb(213, 206, 206);
      }
    }
  }
  @import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
}
@keyframes sidebarOpen {
  0% {
    left: -400px;
  }
  100% {
    left: 0px;
  }
}
@keyframes sidebarClose {
  0% {
    left: 0px;
  }
  100% {
    left: -400px;
  }
}
body {
  position: relative;
}
