.size-page {
  .product {
    flex: 4;
    padding: 20px;
  }
  .productAddButton {
    background-color: $green !important;
    @include adminButton;
  }
  .user-select-none {
    user-select: none;
  }
  .btns-wrapper {
    a {
      @include adminButton;
    }
    .edit {
      background-color: $orange;
    }
    .delete {
      background-color: $red;
    }
    .details {
      background-color: $gray;
    }
  }
  .sizes {
    border: 1px solid rgb(241, 229, 229);
    li {
      border-bottom: 1px solid rgb(236, 224, 224);
      padding-top: 15px;
      padding-left: 15px;
    }
  }
  select.custom-select{
    width: 100%;
    padding: 6px;
  }
}
.product-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.carousel-image{
  
  width: 100% !important;
  height: 150px;
  // object-fit: cover;
}


.modal-footer {
  button {
    @include adminButton;
  }
  .btn-add {
    background-color: $green !important;
  }
  .btn-close {
    background-color: $gray !important;
  }
}
