section#contact {
  padding: 50px 0px;
  .header-wrapper {
    padding-top: 25px;
    border-bottom: 1px solid $gray;
  }
  h3 {
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 30px;
    margin-top: 15px;
  }
  h5 {
    font-size: 14px;
  }
  h4 {
    font-size: 22px;
    margin-top: 15px;
  }


  .contact-form {
    font-size: 14px;
    textarea {
      width: 100%;
      padding: 12px;
      margin: 8px 0px;
      border: 1px solid  $orange;
      border-radius: 4px;
      &::placeholder {
        height: 100px;
        color: $gray;
      }
    }
    input {
      margin: 8px 0px;
      font-size: 14px;
      border: 1px solid $orange;
      height: 45px;
      &::placeholder {
        color: $gray;
      }
    }
  }
  .btn-custom {
    padding: 12px 70px;
    background-color: $orange;
    color: white !important;
    border-radius: 4px;
  }
  .error-message {
    background-color: crimson;
    padding: 10px 25px;
    border-radius: 4px;
    color: $white;
    margin-top: 20px;
  }
  .icon,
  .contact-info,
  .hour-info {
    display: inline-block;
    margin-top: 20px;
  }
  .icon {
    color: $orange;
    font-size: 30px;
    margin-top: 0px;
  }
  .contact-info,
  .hour-info {
    ul {
      p {
        margin: 0px;
      }
      li {
        margin: 10px;
      }
    }
  }
}
